:root {
    --bg-color: #181925;
    --text-color: #c4c4c4;
    --unwritten-text-color: #444;
    --correct-text-color: #e4e4e4;
    --ai-color: #C62E65;
    --mistype-color: rgb(254 74 96);
    --wpm-color: #ffc580
}

body {
    margin: 0 auto;
    font-family: monospace;
    background-color: var(--bg-color);
    min-height: 100vh;
    color: var(--unwritten-text-color);
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    padding: 1rem;
    flex-direction: row;
    border-bottom: 2px solid var(--unwritten-text-color);
}

main {
    margin: auto calc(12vw - 3vh);
}

footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: calc(100vw - 30px);
    padding: 12px 15px;
}

body.flam footer,
body.flam #output,
body.flam #preferences {
    filter: blur(7px);
    pointer-events: none;
}

h1 {
    margin: 0;
    font-size: clamp(1.8rem, 2vw + 1rem, 2.2rem);
}

h1 span {
    color: var(--ai-color);
}

button,
a {
    background: none;
    color: var(--unwritten-text-color);
    text-decoration: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s linear;
}

a>svg {
    transition: all 0.2s linear;
}

button:hover,
a:hover,
button:focus,
a:focus {
    color: var(--correct-text-color);
    transform: scale(1.02);
    outline: none;
}

input[type="checkbox"]:focus+label.checkboxLabel,
label.checkboxLabel:hover {
    border-bottom: 1px solid var(--correct-text-color);
}

a:hover>svg,
button:hover>svg,
a:focus>svg {
    transform: scale(1.1);
}

input[type="checkbox"] {
    margin: 0;
    position: absolute;
    opacity: 0;
}

input[type="checkbox"]:checked+label.checkboxLabel {
    color: var(--correct-text-color);
}

.checkboxLabel {
    cursor: pointer;
    margin-left: 0;
}

#preferences {
    text-align: center;
    padding: 1vmax;
    margin-top: 2vh;
}

#hiddenInput {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

body.rtl #hiddenInput {
    text-align: right;
    direction: rtl;
}

.box {
    margin: 4vh auto 0 auto;
    position: relative;
}

#output {
    white-space: break-spaces;
    font-size: clamp(1.3rem, 1.8vw + 1rem, 2.3rem);
    line-height: calc(clamp(1.3rem, 1.8vw + 1rem, 2.3rem) + 1rem);
    color: var(--unwritten-text-color);
}

body.rtl #output {
    direction: rtl;
}

#output span {
    position: relative;
}

.correct {
    color: var(--correct-text-color);
    background-color: #5df1a533;
}

body.flam .correct {
    color: var(--unwritten-text-color);
    background-color: transparent
}

.mistype {
    background-color: var(--mistype-color);
    color: #fff;
}

#resetBtn svg {
    position: relative;
    top: 1.75px;
}

body.flam #resetBtn {
    opacity: 0;
}

.last,
.overflowing {
    color: transparent;
}

.mistype::before {
    content: attr(data-pressed);
    position: absolute;
    top: 100%;
    left: 30%;
    font-size: 0.8rem;
    color: var(--text-color);
    line-height: 0.6rem;
    z-index: 2;
}

#output.focused .selection {
    background-color: #dddddd66;
}

#output.focused .cursor::after {
    animation: cursor 2s infinite;
    content: " ";
    position: absolute;
    color: var(--text-color);
    right: 50%;
}

body.rtl #output.focused .cursor::after {
    right: -50%;
}

@keyframes cursor {
    0% {
        content: "|";
    }

    50% {
        content: " ";
    }

    51% {
        content: "|";
    }
}

#socials a {
    margin: 0 0.2vw;
}

#socials #yourIdeasImg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 256px;
    height: 256px;
    z-index: -1;
    background-image: url('yourIdeas.png');
    pointer-events: none;
}

#socials.focused #yourIdeasImg {
    background-image: url('yourIdeasFocused.png')
}


#instructionLabel {
    color: var(--mistype-color);
}

#showMobileKeyboardBtn {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 107%;
    height: 107%;
    opacity: 0;
    cursor: default;
}

#textFooter {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem 1.5rem 1rem 1.5rem;
}

.popup {
    position: absolute;
    margin: 0;
    padding: 1vh;
    z-index: 1;
    width: 86vw;
    min-height: 35vh;
    top: 22%;
    left: 6vw;
    opacity: 0.7;
    border: 1px solid var(--wpm-color);
    border-radius: 6px;
    background-color: #1b1f27;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

#flam {
    display: flex;
    gap: 1.2vh;
    flex-direction: row;
    align-items: flex-start;
    color: var(--ai-color);
    margin: 1vw;
}

body.flam .popup {
    display: flex;
}

#flam figcaption {
    min-width: 80%
}

#ainotes {
    color: var(--ai-color);
    font-size: clamp(0.7rem, 1vw + 0.6rem, 1rem);
    font-size: 1.5rem;
    margin: 0.3rem 0 0 0
}

.performance {
    position: absolute;
    color: #000000;
    font-size: 1rem;
    bottom: -40px;
    right: 1vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.performanceTab {
    background-color: #b99166;
    position: relative;
    height: 20px;
    min-width: 50px;
    padding: 10px;
    text-align: center;
}

.performanceTab::before {
    position: absolute;
    color: var(--text-color);
    top: -20px;
    left: 10%;
    font-size: 0.7rem;
}

#wpm_container::before {
    content: "speed";
    left: 24%;
}

#accuracy_container::before {
    content: "accuracy";
}

.firstTime .performance {
    display: none;
}

#practiceTopicInput {
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--unwritten-text-color);
    color: var(--unwritten-text-color);
    transition: all 0.2s linear;
}

#practiceTopicInput:focus {
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
}

#topicInstructionLabel {
    color: var(--text-color);
    font-size: 80%;
    margin-left: 1px;
}

#flam img {
    height: 8vw;
    max-height: 4rem;
    border-radius: 50%;
}

#pressAnythingToContinueText {
    display: block;
    color: var(--correct-text-color);
    text-align: center;
    margin-bottom: 3vh;
}

#pressAnythingToContinueText::after {
    content: "continue"
}

body.firstTime #pressAnythingToContinueText::after {
    content: "start"
}

/* LOADING */

#flam::after {
    content: "";
    position: absolute;
    height: 8vw;
    max-height: 4rem;
    width: 8vw;
    max-width: 4rem;
    border-radius: 50%;
    border: 3px solid #c4c4c4;
    border-top: 3px solid #c62e65;
    animation: spin 1s linear infinite;
    display: none;
}

body.loading #flam {
    align-items: center;
    gap: 2vh;
}

body.loading #flam::after {
    display: block;
}

body.loading #pressAnythingToContinueText {
    display: none;
}

body.loading #practiceTopicInput {
    display: none;
}

@keyframes spin {
    from {
        transform: translateX(-2px) rotate(0deg) ;
    }

    to {
        transform: translateX(-2px) rotate(360deg);
    }
}