body {
    margin: 0 auto;
    font-family: monospace;
    background-color: rgb(255 244 218);
    font-size: 2rem;
    min-height: 100vh;
}

header {
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 4px solid black;
}

#userFocusInput {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h1 span {
    color: rgb(254 74 96);
}

main {
    margin: auto 10vw;
}

#hiddenInput {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.box {
    margin: 7vh auto 0 auto;
    max-height: 80vh;
    border-radius: 4px;
    color: rgb(255 197 128);
    color: #aaa;
    cursor: default;
}

#output {
    white-space: break-spaces;
}

#output span {
    position: relative;
}

.last {
    color: transparent;
}

.correct {
    color: #5df1a5;
}

.error {
    background-color: rgb(254 74 96);
    color: #fff;
}

.error::before {
    content: attr(data-pressed);
    position: absolute;
    top: -0.5rem;
    left: 0.3rem;
    font-size: 0.8rem;
    color: #000;
}

.selection {
    background-color: #dddddddd
}

.cursor::after {
    animation: cursor 2s infinite;
    content: " ";
    position: absolute;
    color: black;
    right: 0.65rem;
    bottom: 0.1rem;
}

@keyframes cursor {
    0% {
        content: "|";
    }

    50% {
        content: " ";
    }

    51% {
        content: "|";
    }
}

#wpm {
    font-size: 5rem;
    color: #ffc580;
    position: absolute;
    left: 0;
    top: 35vh;
    width: 100vw;
    text-align: center;
}